In [16]:
inp = "register me today now man"

In [17]:
al = inp.lower().split(" ")

In [18]:
for word in al[:3]:
    print(word)

register
me
today

In [21]:
from IPython.display import display
import pandas as pd

In [23]:
df = pd.DataFrame({"NAME": ['Sonam', 'Sash', 'Matteo'],
                   "PASSENGER": ['Y', 'N', 'N'],
                   "DRIVER": ['N', 'Y', 'Y'],
                   "AVAIL": ['7-9', '8-10', '6-8']}
                   )

display(df)

     NAME PASSENGER DRIVER AVAIL
0   Sonam         Y      N   7-9
1    Sash         N      Y  8-10
2  Matteo         N      Y   6-8

In [33]:
df=df.append(pd.DataFrame([["Matteo","Y","N","9-10"]], columns=df.columns))

In [35]:
from tabulate import tabulate
df

ModuleNotFoundError: No module named 'tabulate'